* {
  margin: 0px;
  padding: 0px;
  border: none;
  list-style-type: none;
  text-decoration: none;
  font-family: Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.navclass {
  display: flex;
  /* gap: 20%; */
  justify-content: space-evenly;
  align-items: center;
}
.first-navclass {
  margin: 20px 0px 0px 70px;
}
.second-navclass {
  display: flex;
  margin: 30px 0px 0px 20px;
}
.second-navclass ul {
  display: flex;
  gap: 80px;
}
.second-navclass li a {
  color: #374151;
}
.btn button {
  width: 60px;
  height: 20px;
  border-radius: 4px;
  color: #374151;
}
