* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  font-family: Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.navclass {
  display: flex;
  gap: 30%;
}

.first-navclass {
  margin: 20px 0px 0px 70px;
}

.second-navclass {
  display: flex;
  margin: 30px 0px 0px 20px;
}

.second-navclass ul {
  display: flex;
  gap: 80px;
}

.second-navclass li a {
  color: #374151;
}

.btn button {
  width: 60px;
  height: 20px;
  border-radius: 4px;
  color: #374151;
}

.free-logo {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 350px 0px 350px;
  color: #1e203b;
}

.get-free-logo {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

.input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  gap: 20px;
}

.input-container input {
  width: 453px;
  height: 36px;
  padding: 10px;
  border: none;
}

.make-logo button {
  width: 210px;
  height: 56px;
  border-radius: 4px;
  border: none;
  background-color: #374151;
  font-size: 15px;
}
