* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
li {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
  font-size: large;
}
.nav-first {
  padding: 27px 0px 0px 80px;
}
.nav-first ul {
  display: flex;
  gap: 80px;
}
.nav-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 3px 0px 20px 0px;
  background-color: aquamarine;
}
.nav-second {
  margin: 25px 0px 0px 0px;
}
.nav-second button {
  width: 80px;
  height: 35px;
  border-radius: 7px;
  font-size: large;
}
.brain {
  margin: 60px 80px;
}
.brain-white p {
  width: 650px;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}
.click button {
  height: 30px;
  width: 90px;
  border-radius: 5px;
  font-size: medium;
}
